body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #cce7ff; /* fond bleu clair */
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #ccc;
    padding: 12px;
    margin-bottom: 12px;
    background-color: #fff; /* fond blanc pour les recettes */
}

.title {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 4px;
}

.author {
    font-style: italic;
    color: #666;
    margin-bottom: 6px;
}

.recipe-text {
    margin-top: 4px;
}
